@mixin clearFix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}


@mixin centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER

/*------
0 - 600px: phone
600 - 900px: tab-portrait
900 - 1200px: tab-landscape
[1200 - 1800] is regular style apply
1800 +: big-desktop
---------*/


/************************************************************/


//BREAKPOINTS ARGUEMENT CHOICES
/*------- 
- phone
- tab_port
- tab_land
- big_desktop

1em = 16px
--------*/


@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; //600px
  }

  @if $breakpoint == tab_port {
    @media (max-width: 56.25em) { @content }; //900 px
  }

  @if $breakpoint == tab_land {
    @media (max-width: 75em) { @content }; //1200px
  }

  @if $breakpoint == big_desktop {
    @media (min-width: 112.5em) { @content }; //1800px
  }
}