.navigation {
  display: none;
  &__checkbox {
    
  }

  &__button {

  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
  }

  &__nav {

  }

  &__list {

  }

  &__item {

  }

  &__link {

  }
}